public/
*~
*.autosave.*
videos/*.eps
*.bmp
*.zip
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
*.doc
*.xcf
*.pptx

*.pdf
*.ps
*.vrb

*.fdb_latexmk
*.fls

*.nav
*.snm
*.bak
*.db
*.ppsx
*.ppt
Shubhra-thesis*
*.gz
*.odg
*.tar
*.semanticdb
*.class
.metals/
.vscode/
.ammonite/
out/
target/
*.xopp
